.list-reset {
    padding-left: 0;
    list-style: none;
}
ul {
  padding-bottom: 2rem;
}
li {
  /*color: white;*/
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding: .05rem;
  font-weight: bold;
}
