// Variables
@import "variables";
@import "typography";
@import "headings";
@import "media";
@import "btns";
@import "links";
@import "layout";
@import "navigation";
@import "colors";
@import "animation";
@import "lists";




#brand {
  z-index: 2;
}
#info {
}
#contact {
  /*z-index: 2;*/
  font-family: "Helvetica Neue", Helvetica, sans-serif; !important
}
#map-marker {
  width: 60px;
  fill: white;
}
#chevron {
  width: 40px;
  fill: white;
  padding: 20px;
}

#email {
  padding: 2rem;
}

#morf-logo {
  width: 60px;
  position: fixed;
  z-index: 1;
  padding: 1rem;
}
