
<header class="site-header cf">

  <div class="wrapper cf fixed top-0 left-0 right-0 bg-white z4">

    <div class=" text-center max-width-l pad-x-l pad-y-s float-center">
      <a class="inline-block pad-t-m link float-l" href="{{ site.baseurl }}/profile">Profile</a>
      <a class="site-title inline-block float-center bg-cover link logo" title="Home" href="{{ site.baseurl }}/">
        <img src="img/studio/morf-logo15fps_white_compressed.gif" alt="Morf">
      </a>
      <a class="inline-block pad-t-m link float-r" href="{{ site.baseurl }}/contact">Contact</a>
    </div>

  </div>

</header>
