
<header class="site-header cf pad-m">

  <div class="wrapper cf fixed top-0 left-0 right-0 bg-white">

    <div class="pad-m text-center">
      <a class="site-title h2" href="{{ site.baseurl }}/">MORF</a>
      <!-- <img src="img/studio/morf-logo15fps.gif" alt="Morf"> -->
    </div>

    <nav class="col col-12 m-col-4 pad-m">

        <!-- <a  class=" {% if p.url == profile %} active {% endif %} mar-r-m"  href="{{ site.baseurl }}/profile">Profile</a> -->
        <!-- <a  class=" {% if p.url == contact %} active {% endif %} mar-r-m"  href="{{ site.baseurl }}/contact">Contact</a> -->

    </nav>

  </div>

</header>
