h1, h2, h3 {
  opacity:0.75;
}

h1 {
  font-size: 2rem;
  @media screen and (min-width:50em){
    font-size: 8rem;
  }
}

h2 {
  font-family: "Helvetica Neue";
  font-size: 1.5rem;
  max-width:$measure-width;
  @media screen and (min-width:50em){
    font-size: 3rem;
  }
}
