
ul {
  padding-bottom: 2rem;
}
li {
  padding: $space1;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}
.list-reset {
    margin-left:0;
    padding-left: 0;
    list-style: none;
}
